html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: Arial;
    height: 100%;
    min-height: 100%;
}
#container {
    width: 100%;
}
.box {
    width: 50%; 
    float: left;
}
#workspace {
    width: 100%;
    height: 100%;
}
h1 {
    margin: 0;
    padding: 1em;
}
